body {
    display: flex;
}

h1 {
    display: flex;
    justify-content: center;
}

#game-board {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.space {
    font-size: 15vh;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}